#game {
  display: none;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
  &.show {
    display: grid;
  }
}

#word {
  grid-column: 1;
  grid-row: 1;
  padding: 5em 0;
  span {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin-right: .5em;
    font-size: 2em;
    text-align: center;
    color: #fff;

    &.blank {
      border: 2px solid #4a4949;
      border-bottom: 2px solid #fff;
    }
  }
}

#guess {
  grid-column: 1;
  grid-row: 3;
  input,
  button {
    text-align: center;
    display: inline;
    margin-right: .5em;
  }
  button {
    width: 10rem;
  }
  input {
    width: 10rem;
  }
}

#rejected {
  grid-column: 1;
  grid-row: 2;
  color: #fb313d;
  font-size: 2em;
}

#kitten {
  grid-column: 2;
  grid-row: 1 / 4;
  border-left: 2px solid #000;
  background: linear-gradient(to right, #3c3b3f, #605c3c);
}
